.footer {
    padding: 1rem 0;
    background-color: var(--hemocyanin);
  }
  
  .footer p {
    color: var(--purpleHaze);
    font-size: 0.7rem;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    opacity: 0.8;
    padding: 0 1rem;
  }

@media (min-width: 768px) {
    .footer {
        padding: 2rem 4rem;
      }
    
      .footer p {
        font-size: 0.75rem;
      }
}